<div class="container">
  <!-- ejs -->
  <% category.forEach(function(cat) { %>



    <div class="card">
      <img src="https://source.unsplash.com/category/food/330x200">
      <h4> <strong>
          <%= cat.name %>
        </strong></h4>
      <p>
        <%= cat.cat_img %>
      </p>
      <a href='/category/<%=cat.id %>/product'>Shop now</a>
    </div>


    <% }); %>
</div>
<script
  src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>